@tailwind base;
@tailwind components;
@tailwind utilities;

.exclamation-mark {
  display: inline-block;
  position: relative;
  color: transparent;
  background: linear-gradient(to bottom, #f5a630 60%, black 60%);
  -webkit-background-clip: text;
  background-clip: text;
}

.custom-placeholder::placeholder {
  font-size: 16px;
  font-weight: 300;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.mainTabsPadding {
  @apply xl:pl-[16px] xl:pr-[16px] xl:pt-[8px] xl:pb-[8px] pl-[8px] pr-[8px] pt-[5px] pb-[5px];
}

.searchIconPositions {
  @apply 2xl:left-[33%] xl:left-[28.5%] ipad-pro-portrait:left-[18%]
  ipad-pro-landscape:left-[26.3%]
  ipad-air-portrait:left-[16.5%]
  ipad-air-landscape:left-[22.5%]
  ipad-mini-portrait:left-[14.2%]
  ipad-mini-landscape:left-[18.5%] sm:left-[26%] iphone-6-plus-portrait:left-[8%] iphone-6-plus-landscape:left-[26.5%] iphone-6-portrait:left-[7%] iphone-6-landscape:left-[24%] iphone-5-portrait:left-[6%] iphone-5-landscape:left-[19.5%];
}

.inputClearPositions {
  @apply 2xl:right-[33%] xl:right-[28.5%] 
  ipad-pro-portrait:right-[18%] 
  ipad-pro-landscape:right-[26.3%] 
  ipad-air-portrait:right-[16.5%] 
  ipad-air-landscape:right-[22.5%] 
  ipad-mini-portrait:right-[14.2%] 
  ipad-mini-landscape:right-[18.5%] sm:right-[26%] iphone-6-plus-portrait:right-[8%] iphone-6-plus-landscape:right-[26.5%] iphone-6-portrait:right-[7%] iphone-6-landscape:right-[24%] iphone-5-portrait:right-[6%] iphone-5-landscape:right-[19.5%];
}
