@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  @apply w-full sm:p-10 p-5;
}

.exclamation-mark {
  display: inline-block;
  position: static;
  color: transparent;
  background: linear-gradient(to bottom, #f5a630 60%, black 60%);
  -webkit-background-clip: text;
  background-clip: text;
}

.custom-placeholder::placeholder {
  font-size: 16px;
  font-weight: 300;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.mainTabsPadding {
  @apply xl:pl-[16px] xl:pr-[16px] xl:pt-[8px] xl:pb-[8px] pl-[8px] pr-[8px] pt-[5px] pb-[5px];
}

button .tooltip-hover {
  visibility: hidden;
  opacity: 0;
}

button:hover .tooltip-hover {
  visibility: visible;
  opacity: 1;
  transform: translateY(-5px);
  z-index: 10;
}

@media (min-width: 1024px) {
  .banner {
    bottom: 100px;
  }
}

@media (min-width: 768px) {
  .banner {
    bottom: 100px;
  }
}

@media (min-width: 768px) {
  .bannerMob {
    bottom: 100px;
  }
}

.bg-color-0 {
  background-color: #116dda1a;
}

.bg-color-1 {
  background-color: #f5a6301a;
}

.bg-color-2 {
  background-color: #f5cba7;
}

.bg-color-3 {
  background-color: #d6eaf8;
}

.bg-color-4 {
  background-color: #fad7a0;
}

.text-color-0 {
  color: #116dda;
}

.text-color-1 {
  color: #f5a630;
}

.text-color-2 {
  color: #f5cba7;
}

.text-color-3 {
  color: #d6eaf8;
}

.text-color-4 {
  color: #fad7a0;
}
